/*Colours - Scale of purple colours for graphs
#4B0082
#6A5ACD
#9370DB
#D7BDE2

*/

/* Bg image */
#container {
    background-image: url("../img/avengers-bg.jpg");
}

/* Style for graphs */
.chart-title{
    background-color: #EAF2F8;
    opacity: 0.8;
}

.semi-trans{
    opacity: 0.93; /*Let background through the graphs*/
}

.dc-chart g.row text {
    fill: black; /*Black text in row charts */
    font-size: 12px;
}

/*Modify the color of the bar chart???? */
.dc-chart rect.stack{
    fill: red;
}

.dc-chart .pie-slice{
    fill: black; /*Black text in pie charts */
    font-size: 12px;
}

#n-avengers {
    font-size: 60px;
    height: 90px;
    background: #6A5ACD;
    /*position: relative;*/
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 12px 10px 0 10px;
}

#menu-select-avenger, #menu-select-current{
    font-size: 18px;
    height:90px;

}

#navbar-bar{
    background-color: #154360;
    color: red;
}

#navbar-text{
    font-size:25px;
}