<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Marvel Avengers</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="../static/lib/css/introjs.css" />
</head>

<body class="application" id="container">

    <!-- Navigation bar -->
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div  id="navbar-bar" class="container-fluid">
            <div  class="navbar-header">
                <a id="navbar-text" class="navbar-brand" href="./">The Avengers from 1900 to 2015</a>
            </div>
        </div>
    </div>

    <!-- Divs with graphs -->
   <div id="outer" class="container-fluid">

        <!-- First row -->
        <div class="row" >
             <!-- menu select -->
            <div class="col-sm-4">
                <div class="chart-wrapper semi-trans">
                    <div class="chart-title">
                        List of Avengers: Appearances
                    </div>
                    <div class="chart-stage">
                        <div id="menu-select-avenger"></div>
                    </div>
                </div>
            </div>
            <!-- End menu select -->


            <!-- Metric Number Avengers -->
            <div class="col-sm-3">
                <div class="chart-wrapper semi-trans">
                    <div class="chart-title title-bold">
                        Number of Avengers
                    </div>
                    <div id="n-avengers" class="chart-stage">
                        <div id="number-avengers"></div>
                    </div>
                </div>
            </div>
            <!-- End Number Avengers -->

            <!-- Year Bar Chart -->
             <div class="col-sm-7">
                 <div class="chart-wrapper semi-trans">
                     <div class="chart-title">
                         Year joined
                     </div>
                     <div class="chart-stage">
                         <div id="year-bar-chart"></div>
                     </div>
                 </div>
             </div>
           <!-- End Time Bar Chart -->

            <!-- Current Pie Chart -->
           <div class="col-sm-3">
               <div class="chart-wrapper semi-trans">
                   <div class="chart-title">
                       Current
                   </div>
                   <div class="chart-stage">
                       <div id="current-chart"></div>
                   </div>
               </div>
           </div>
           <!-- Current Pie Chart -->


           <!-- Gender Pie Chart -->
            <div class="col-sm-3">
                <div class="chart-wrapper semi-trans" >
                    <div class="chart-title">
                        Avenger Gender
                    </div>
                    <div class="chart-stage semi-trans">
                        <div id="gender-pie-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Gender Pie Chart -->

           <!-- Honorary Pie Chart-->
            <div class="col-sm-3">
                <div class="chart-wrapper" >
                    <div class="chart-title">
                        Honorary
                    </div>
                    <div class="chart-stage">
                        <div id="honorary-pie-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Honorary Pie Chart -->



              <!-- Honorary Row Chart
            <div class="col-sm-3">
                <div class="chart-wrapper semi-trans" >
                    <div class="chart-title">
                        Avenger Status (Honorary)
                    </div>
                    <div class="chart-stage">
                        <div id="honorary-row-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Honorary Row Chart -->

            <!-- Death1 Row Chart -->
            <div class="col-sm-4">
                <div class="chart-wrapper semi-trans" >
                    <div class="chart-title">
                        Death
                    </div>
                    <div class="chart-stage">
                        <div id="death1-row-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Honorary Row Chart -->
       </div>
   </div>

   <hr>
   <p class="small text-muted">Data viz &#9829; from Code Institute</p>
   <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
   <script src="../static/lib/js/intro.js" type="text/javascript"></script>


</body>
</html>