<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Marvel Avengers</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}" />
</head>

<body class="application" id="container">

    <!-- Navigation bar -->
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div  id="navbar-bar" class="container-fluid">
            <div  class="navbar-header">
                <a id="navbar-text" class="navbar-brand" href="./">The Avengers from 1900 to 2015</a>
            </div>
        </div>
    </div>

    <div id="start-tour" class="container-fluid">
       <div class="row">


           <!-- Button to start the tour -->
           <div class="col-sm-12">
                <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">
                    Tell Me More!</button>
           </div>
           <!-- Extra div to include an introduction in the tour -->
           <div class="col-sm-6 col-sm-offset-4" data-step="1"
                data-intro="This dashboard shows part of the data behind the story [Joining The Avengers Is As Deadly
                As Jumping Off A Four-Story Building]
                (http://fivethirtyeight.com/features/avengers-death-comics-age-of-ultron).
                The dataset avengers.csv was downloaded from https://github.com/fivethirtyeight/data/tree/master/avengers
                and it shows the details of Marvel comic book characters between the time they joined the Avengers
                and April 30, 2015." style="font-weight: normal" data-position="center">
           </div>
       </div>
    </div>

    <!-- Divs with graphs -->
   <div id="outer" class="container-fluid">


        <div class="row" >
             <!-- menu select -->
            <div class="col-sm-4">
                <div class="chart-wrapper semi-trans" data-step="2"
                     data-intro="List of Avengers with full name or alias of the character and
                      the number of comic books that character appeared. Select one Avenger to see individual details
                      or use the other graphs to filter and use select to see the list of Avengers matching those criteria."
                     style="font-weight: normal" data-position="center">
                    <div class="chart-title">
                        List of Avengers: Appearances
                    </div>
                    <div class="chart-stage">
                        <div id="menu-select-avenger"></div>
                    </div>
                </div>
            </div>
            <!-- End menu select -->


            <!-- Metric Number Avengers -->
            <div class="col-sm-3">
                <div class="chart-wrapper semi-trans" data-step="3"
                     data-intro="Number of Avengers that joined the team for the selected criteria." style="font-weight: normal" data-position="center">
                    <div class="chart-title title-bold">
                        Number of Avengers
                    </div>
                    <div id="n-avengers" class="chart-stage">
                        <div id="number-avengers"></div>
                    </div>
                </div>
            </div>
            <!-- End Number Avengers -->

            <!-- Year Bar Chart -->
             <div class="col-sm-7">
                 <div class="chart-wrapper semi-trans" data-step="4"
                     data-intro="The year the character was introduced as a full or reserve member of the Avengers.
                      Select a interval of time or leave it as default for all years."
                        style="font-weight: normal" data-position="center">
                     <div class="chart-title">
                         Year joined
                     </div>
                     <div class="chart-stage">
                         <div id="year-bar-chart"></div>
                     </div>
                 </div>
             </div>
           <!-- End Time Bar Chart -->

            <!-- Current Pie Chart -->
           <div class="col-sm-3">
               <div class="chart-wrapper semi-trans" data-step="5"
                     data-intro="Are the members currently active on an avengers affiliated team?"
                        style="font-weight: normal" data-position="center">
                   <div class="chart-title">
                       Current
                   </div>
                   <div class="chart-stage">
                       <div id="current-chart"></div>
                   </div>
               </div>
           </div>
           <!-- Current Pie Chart -->


           <!-- Gender Pie Chart -->
            <div class="col-sm-3">
                <div class="chart-wrapper semi-trans" data-step="6"
                     data-intro="The recorded gender of the characters."
                     style="font-weight: normal" data-position="center" >
                    <div class="chart-title">
                        Avenger Gender
                    </div>
                    <div class="chart-stage semi-trans">
                        <div id="gender-pie-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Gender Pie Chart -->

           <!-- Honorary Pie Chart-->
            <div class="col-sm-3">
                <div class="chart-wrapper semi-trans" data-step="7"
                     data-intro="The status of the avenger, if they were given 'Honorary' Avenger status, if they are
                     simply in the 'Academy', 'Probationary' or 'Full' otherwise."
                     style="font-weight: normal" data-position="center">
                    <div class="chart-title">
                        Honorary
                    </div>
                    <div class="chart-stage">
                        <div id="honorary-pie-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Honorary Pie Chart -->

            <!-- Death1 Row Chart -->
            <div class="col-sm-4">
                <div class="chart-wrapper semi-trans" data-step="8"
                     data-intro="Yes if the Avenger died, No if he/she didn't."
                     style="font-weight: normal" data-position="center">
                    <div class="chart-title">
                        Death
                    </div>
                    <div class="chart-stage">
                        <div id="death1-row-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Honorary Row Chart -->
       </div>
   </div>

   <hr>
   <p class="small text-muted">Irene Garcia (2017) - Project 2 Code Institute</p>
   <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>



</body>
</html>